@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:wght@900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-left {
  display: flex;
  align-items: center;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .header-left h3 {
  display: inline-block;
  padding: 1.875rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
}

header .header-right .menu-icon {
  margin-right: 2em;
  width: 50px;
  height: 50px;
  background-color: #282828;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-left .Hack {
  color: #000000;
}
header .header-left .TGame {
  color: #ffc311;
}
header .header-right .modal {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 70vw;
  height: 100%;
  z-index: 9999;
  background-color: #282828;
  transform: translate(18.3em);
  transition: all 0.3s ease-in;
}
header .header-right .modal.visible-menu {
  transform: translate(0);
}

header .modal nav.menu ul li a {
  color: white;
  text-decoration: none;
  line-height: 2rem;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.785rem;
  margin-bottom: -0.35rem;
}
header .modal nav.menu ul {
  list-style: none;
  position: relative;
  padding: 2rem 1rem;
}

header .modal nav.menu li {
  display: inline-block;
  padding-top: 1em;
  width: 98%;
  border-bottom: 0.5px solid white;
  bottom: -5px;
}
header .modal nav.menu li:last-child {
  margin-bottom: 0;
}

header .modal nav.menu li a:hover {
  color: #ffc311;
}
header .modal .icons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0.5rem 2rem;
}
header .modal span.close {
  position: absolute;
  right: 2rem;
  top: 3rem;
  z-index: 2;
}
/* color a los iconos */
header .fa-solid,
.fa-brands {
  color: white;
}

header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .buttons button {
  cursor: pointer;
  margin: 1rem 0;
  background-color: #ffc311;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  color: white;
  font-weight: 400;
  border: 0px;
  width: 50%;
}
header .buttons {
  padding: 1rem 1rem;
}
header .login,
.signup {
  padding: 0.5rem 2rem;
}
header .buttons button:hover {
  color: black;
}
@media screen and (min-width: 768px) {
  header .header-right .modal {
    min-width: 36em;
    transform: translate(36em);
  }
  header .modal span.close {
    position: absolute;
    right: 1rem;
    background-color: #282828;
    padding: 0.5rem 1rem;
  }
  header .modal .icons {
    margin: 0.5rem 5.2rem;
    margin-right: 1rem;
  }
  header .login,
  header .signup {
    padding: 0.5rem 7rem;
  }
  header .buttons button {
    margin: 1rem 0;
  }
}

/* Escritorio */
@media only screen and (min-width: 1280px) {
  header .header-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-left h3 {
    font-size: 2.2rem;
  }
  header .header-left .Hack {
    color: white;
  }
  header .header-right,
  header .header-right .modal {
    z-index: 9999;
    background-color: transparent;
    transition: all 0.3s ease-in;
    width: 100%;
    height: auto;
    transform: translate(0);
    position: relative;
  }
  header .header-right .menu-icon {
    display: none;
  }
  header .modal .modal-content {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    height: auto;
  }
  header .header-container .header-right .modal .modal-content nav.menu {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
  }
  header .header-container .header-right .modal .modal-content nav.menu ul {
    margin-top: 1em;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  header .header-container .header-right .modal .modal-content nav.menu ul li {
    border: none;
    margin: 0;
    padding: 0;
  }
  header
    .header-container
    .header-right
    .modal
    .modal-content
    nav.menu
    ul
    li:not(li:first-of-type) {
    margin-left: 2.7em;
  }
  header
    .header-container
    .header-right
    .modal
    .modal-content
    nav.menu
    ul
    li
    a {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2rem;
  }
  header .modal .modal-content {
    margin-right: 4em;
  }
  header .modal .modal-content .icons {
    grid-column: 2/3;
    order: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }
  header .modal .modal-content .icons i:not(i:first-of-type) {
    margin-left: 0.8em;
  }
  header .modal .modal-content .buttons {
    order: 2;
    grid-column: 3/4;
    justify-content: flex-start;
  }
  header .modal .modal-content .buttons button {
    margin: 0;
    padding: 0;
    width: auto;
    padding: 0.6em 0;
    min-width: 45%;
    font-size: 1rem;
    font-weight: bold;
  }
  header .modal .modal-content .buttons button:first-of-type {
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
  header .modal .modal-content .buttons button:last-of-type {
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 0;
  }

  /* cerrar ventana modal */
  header .modal span.close {
    display: none;
  }
  /* menu de navegación */
  header .modal nav.menu ul li a {
    color: black;
    display: flex;
    margin-bottom: -0.35rem;
    font-size: 2rem;
  }
  header .modal nav.menu li {
    padding-top: 1em;
    display: inline-block;
    width: auto;
  }
}
